
:root{
  --navy: #001d6e;
  --blue: #c4ddff;
  --beige: #fee2c5;
  --winter: #c4ddff;
  --heading: 'Kumbh Sans', sans-serif;
}
/* header */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--heading);
}

.navbar {
  background: var(--navy);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

#navbar__logo {
  background-color: var(--winter);
  background-image: linear-gradient(to top, var(--winter) 0%, var(--blue) 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 3rem;
}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color:var(--winter);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  font-size: 2rem;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  font-size: 2rem;
}

.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: var(--winter);
  color: var(--navy);
}

.button1:hover {
  background: var(--navy);
  transition: all 0.3s ease;
  color: var(--winter);
}

.navbar__links:hover {
  color: var(--winter);
  transition: all 0.3s ease;
}

@media screen and (max-width: 1000px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
  }

  .navbar__menu.active {
    background: var(--navy);
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--winter);
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 60px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
/* main */
  
body {
  margin: 0;
  font-family: var(--heading);
  padding: 0;

}

.container {
  padding: 64px;
}

.row:after {
  content: "";
  display: table;
  clear: both
}

.column-1 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.column-2 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

.large-font {
  font-size: 48px;
  color: var(--navy);
}

.xlarge-font {
  font-size: 64px
}

.button {
  border: none;
  color: var(--navy);
  padding: 14px 28px;
  font-size: 15px;
  cursor: pointer;
  background-color: var(--winter);
}
.button:hover {
  background: var(--navy);
  transition: all 0.3s ease;
  color: var(--winter);
  padding: 16px 30px;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .column-1,
  .column-2 {
    width: 100%;
    text-align: center;
  }
  img {
    margin: auto;
  }
}
ul, li{
  list-style: none;
  padding: 0;
  margin: 10px;
}
.grid-wrap{
  position: relative;
  margin: 0;
  padding: 10px;
}
.grid-wrap ul{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(100px,auto));
  grid-auto-flow: dense;
  grid-gap: 2px;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}
.grid-wrap ul li{
  position: relative;
}
.grid-wrap ul li:nth-child(1){
  grid-row: span 2;
  grid-column: span 4;
}
.grid-wrap ul li:nth-child(2){
  grid-row: span 2;
  grid-column: span 4;
}
.grid-wrap ul li:nth-child(3){
  grid-row: span 2;
  grid-column: span 4;
}
.grid-wrap ul li:nth-child(4){
  grid-row: span 2;
  grid-column: span 4;
}
.grid-wrap ul li:nth-child(5){
  grid-row: span 2;
  grid-column: span 4;
}
.grid-wrap ul li:nth-child(6){
  grid-row: span 2;
  grid-column: span 4;
}
.grid-wrap ul li:nth-child(7){
  grid-row: span 2;
  grid-column: span 4;
}
.grid-wrap ul li:nth-child(8){
  grid-row: span 2;
  grid-column: span 4;
}
.grid-wrap ul img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-wrap ul li:hover{
  filter: opacity(0.8);
  transition: .2;
  cursor: pointer;
}

.container1495 {
  max-width: 1495px;
  margin-right: auto;
  margin-left: auto;
}

div{
  display: block;
}

.h4.middle{
  text-align: center;
}

.h4{
  color: var(--winter);
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 120%;
  font-weight: 800;
  font-weight: bold;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 10px;
  margin-inline-end: 0px;
}

.h1.middle{
  text-align: center;
}

.h1{
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--navy);
  font-size: 55px;
  line-height: 111%;
  font-weight: 900;
  display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.companylogos {
  vertical-align: middle;
  /*margin-top: 20px;*/
  margin: auto;
  max-width: none;
  opacity: 1;
  cursor: pointer;
  -o-object-fit: fill;
  object-fit: fill;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container-clients {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "company1 company2 company3 company4";
  width: auto;
  justify-content: center;
  align-content: center;
}

.company3 { grid-area: company3; }

.company2 { grid-area: company2; }

.company4 { grid-area: company4; }

.company1 { grid-area: company1; }

